* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}
.w3l-index4 .new-block {
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.33)
    ),
    url(./image/bg.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 480px;
  display: grid;
  align-items: center;
  padding: 2rem 0;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

.w3l-index4 .middle-section {
  max-width: 550px;
}
.w3l-index4 .middle-section h2 {
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
.w3l-index4 .link-list-menu p {
  font-size: 16px;
  color: #eee;
  line-height: 24.5px;
}
.theme-button {
  transition: 0.3s ease-out;
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase;
}

/* Explore */

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}
.header-section {
  max-width: 750px;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.text-center {
  text-align: center !important;
}
.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
.mr-auto,
.mx-auto {
  margin-right: auto !important;
}
.sub-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
h6,
.h6 {
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.header-section h3 {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
.header-section p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
.header-section p {
  max-width: 750px;
  margin: 0 auto;
}
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}
.mt-3,
.my-3 {
  margin-top: 1rem !important;
}
ul.resp-tabs-list,
p {
  margin: 0px;
  padding: 0px;
}
p {
  margin: 0;
  padding: 0;
  color: #5a5a5a;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* .mt-5, .my-5 {
    margin-top: 3rem !important;
}
@media (min-width: 992px){
.col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
}
@media (min-width: 768px){
.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}}
.row {
    display: flex;
   flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
} */
.w3l-index5 .grids5-info {
  border-radius: 6px;
  transition: 0.3s ease-in;
  display: block;
  height: 100%;
  background: #fff;
  border: 1px solid #eee;
  width: 100%;
}
.w3l-index5 .grid-view a.zoom {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.w3l-index5 a.zoom {
  overflow: hidden;
  position: relative;
}
.d-block {
  display: block !important;
}
a,
a:hover {
  text-decoration: none;
}
a {
  color: #dc4f72;
  text-decoration: none;
  background-color: transparent;
}
.w3l-index5 .grid-view .grids5-info img {
  width: 100%;
  display: block;
}

.w3l-index5 .grid-view img.news-image {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.w3l-index5 a.zoom img {
  transition: 0.3s ease-in-out;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.img-fluid {
  /* max-width: 100%; */
  height: auto;
}
img {
  vertical-align: middle;
  border-style: none;
}
.grids5-info img {
  object-fit: contain;
  width: 215px;
}
.w3l-index5 .grid-view p.date {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  border-bottom: none;
  padding-bottom: 0px;
  position: absolute;
  top: 0;
  background: #dc4f72;
  padding: 15px;
  margin-bottom: 0;
  right: 0;
  margin-top: 0;
}
.w3l-index5 .grid-view .grids5-info p {
  font-size: 16px;

  margin-top: 15px;

  padding-bottom: 20px;
  margin-bottom: 20px;
}
ul.resp-tabs-list,
p {
  margin: 0px;
  padding: 0px;
}
p {
  margin: 0;
  padding: 0;
  color: #5a5a5a;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.w3l-index5 .blog-info {
  background: #fff;
  padding: 30px 20px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.w3l-index5 label.tag-label.red {
  background: rgba(238, 97, 120, 0.2);
  color: #dc4f72;
}
.w3l-index5 label.tag-label {
  padding: 5px 16px;
  display: inline-block;
  border-radius: 25px;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 15px;
}
label.tag-label.red {
  background: rgba(238, 97, 120, 0.2);
  color: #dc4f72;
}
label.tag-label {
  padding: 5px 16px;
  display: inline-block;
  border-radius: 25px;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 15px;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
@media (max-width: 1200px) {
  h4,
  .h4 {
    font-size: calc(1.275rem + 0.3vw);
  }
}
h4,
.h4 {
  font-size: 1.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.w3l-index5 .grid-view .grids5-info h4 a {
  font-size: 22px;
  line-height: 27px;
  color: #2c3038;
  display: block;
  font-weight: 600;
}
.w3l-index5 .grid-view .grids5-info h4 a:hover {
  color: #dc4f72;
}
a,
a:hover {
  text-decoration: none;
}

a {
  color: #dc4f72;
  text-decoration: none;
  background-color: transparent;
}

.w3l-index5 .grids5-info:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  transform: translateY(-0.5rem);
}

ul.resp-tabs-list,
p {
  margin: 0px;
  padding: 0px;
}
p {
  margin: 0;
  padding: 0;
  color: #5a5a5a;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.w3l-index5 a.btn-news {
  padding: 0;
  color: #dc4f72;
  transition: 0.3s ease-in-out;
  border-radius: 0;
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
}
.w3l-index5 a.btn-news:hover {
  transition: 0.3s ease-in-out;
  color: #dc4f72;
}
button,
.btn,
select {
  cursor: pointer;
  font-family: "Nunito", sans-serif;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
a,
a:hover {
  text-decoration: none;
}
a {
  color: #dc4f72;
  text-decoration: none;
  background-color: transparent;
}

.w3l-index5 label.tag-label.green {
  background: rgba(0, 128, 0, 0.2);
  color: #008000;
}
label.tag-label.green {
  background: rgba(0, 128, 0, 0.2);
  color: #008000;
}
.w3l-index5 label.tag-label.blue {
  background: rgba(0, 0, 255, 0.2);
  color: #0000ff;
}
label.tag-label.blue {
  background: rgba(0, 0, 255, 0.2);
  color: #0000ff;
}
.General {
  background-color: #f7f9fc;
}
.sub-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.General .w3l-faq ul li {
  position: relative;
  padding: 25px 50px 5px 20px;
  border: 1px solid #eee;
  margin: 0 0 15px 0;
  border-radius: 6px;
  background: #fff;
  list-style-type: none;
}
.General .w3l-faq ul li input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  top: 0;
  left: 0;
  -webkit-appearance: none;
}
.General .w3l-faq ul li input[type="checkbox"]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.General .w3l-faq ul li input[type="checkbox"]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}
.General .w3l-faq ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.General .w3l-faq ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.General .w3l-faq ul li i:before,
.General .w3l-faq ul li i:after {
  content: "";
  position: absolute;
  background-color: #2c3038;
  width: 3px;
  height: 9px;
}
.General .w3l-faq ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 25px;
  top: 16px;
}
.General .w3l-faq p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 24.5px;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
  transition: all 0.25s ease-in-out;
}
.General .w3l-faq h2 {
  font-size: 20px;
  line-height: 1;
  font-weight: normal;
  display: block;
  margin: 0;
  cursor: pointer;
  color: var(--title-color);
}
.General .w3l-faq ul li input[type="checkbox"]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
.blog-text {
  border-bottom: 1px solid #eee;
}
