* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
button {
  border: none;
}
p {
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;
}
li {
  list-style: none;
}

body {
  font-weight: 400;
}
.header_fix {
  height: 100px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.header_header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1030;
}

.text-danger {
  color: #dc4f72 !important;
}
.text-success {
  color: #2c3038 !important;
}
.text-warning {
  color: #5a5a5a !important;
}
#header .navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #dc4f72;
  transition: all 0.5s;
}
#header .navbar-light .navbar-nav .nav-link {
  color: #2c3038;
  transition: all 0.5s;
  position: relative;
  padding: 15px;
}
#header .navbar-light .navbar-nav .nav-link:hover {
  color: #dc4f72;
}
#header .navbar-light .navbar-nav .nav-link::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 8px;
  left: 15px;
  height: 3px;
  width: 0;
  background: #dc4f72;
  transition: all 0.5s;
}
#header .navbar-light .navbar-nav .nav-link:hover::before {
  width: 20px;
}
.btn-outline-success {
  color: #dc4f72;
  border-color: #dc4f72;
  font-weight: 700;
}
.btn-outline-success:hover {
  background-color: #dc4f72;
  color: white;
  border-color: #dc4f72;
}
#header .navbar-brand {
  font-size: 26px;
  font-weight: 700;
}
.carousel {
  margin-top: 100px;
}
.get_started {
  position: relative;
  z-index: 1;
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)),
    url(./image/banner.jpg);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 5rem;
}
.started_right img {
  transform: rotate(180deg);
}
.started_left h3 {
  font-size: 50px;
  font-weight: 700;

  max-width: 560px;
}
.started_left p {
  font-weight: 400;
  padding-right: 250px;
}
.started_left {
  width: 50%;
}
.started_right {
  width: 50%;
}

.choose_title h2 {
  font-size: 46px;
}
.grid_content {
  padding: 3rem 2rem;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}
.grid_content:hover {
  transform: translateY(-8px);
  background-color: #ffffff !important;
  border: 1px solid #eee;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}
.about {
}
.about img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.about button {
  transition: all 0.3s;
  font-weight: 700;
  font-size: 14px;
}
.btn-danger {
  background: #dc4f72;
  color: #fff;
}
.btn-danger:hover {
  color: #fff;
  background: #d62f58;
  border-color: cf2952;
}
.about_grid h4 {
  font-size: 16px;
  font-weight: 700;
}
.about_grid h2 {
  font-size: 50px;
  font-weight: 700;
}
.grid_counter {
  padding: 2rem;
  box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
  transition: all 0.3s;
}
.grid_counter:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

.feature_header h3 {
  font-size: 46px;
}
.feature_content h3 {
  font-size: 30px;
}
.feature_content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.nav-tabs {
  border: none;
}
.nav-tabs .nav-link:hover {
  border-color: transparent;
  border-bottom: 3px solid #eee;
}
.nav-tabs .nav-item {
  font-weight: 700;
  padding: 15px 0;
  font-size: 22px;
  text-align: center;
  width: 33.33%;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-color: transparent;

  border-bottom: 3px solid #d62f58;
  color: #d62f58;
}

.nav-tabs .nav-link {
  border-bottom: 3px solid #eee;
  color: #4e5b61;
}
.tab-content {
  padding: 20px 0;
}

.carousel-item {
  border: 1px solid red;
}

.carousel_img img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid red;
  margin-bottom: 100px;
}

.carousel-indicators li {
  background-color: red;
}
.testimonials {
  background-image: url(./image/b2.jpg);
  background-attachment: fixed;

  background-size: cover;
  position: relative;
}
.overlay_tes {
  position: absolute;
  inset: 0;
  background-color: rgba(247, 249, 252, 0.77);
}
.textimonials_header {
  position: relative;
  z-index: 1000;
}
.img {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 50%;
  border: 3px solid #d62f58;
}
.img img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.content span {
  font-size: 30px;
  color: #2c3038;
  opacity: 0.2;
}

.content p {
  font-size: 18px;
  color: #2c3038;
  min-width: 103%;
}
.name p {
  color: #5a5a5a;
  font-size: 13px;
}
.item {
  padding: 15px;
}
.content {
  height: 100%;
}
.slider-info {
  padding: 32px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #fff;
  border-radius: 6px;
  height: 100%;
}
.textimonials_header {
  max-width: 750px;
}
/* .owl-dots {
  width: 40px;
  height: 5px;
  background: #d62f58;
  text-align: center;
  justify-content: center;
} */
.owl-dots .owl-dot span {
  width: 40px;
  height: 5px;
  margin: 5px 5px;
  background: #fff;
  display: block;
  border: none;
  transition: opacity 0.2s ease;
  border-radius: 0;
  position: relative;
  -webkit-backface-visibility: visible;
}
.owl-dots .owl-dot.active span,
.owl-dots .owl-dot:hover span {
  background: #d62f58;
}
.owl-dots {
  text-align: center;
  border: none;
}
.owl-dot:focus {
  outline: none;
  box-shadow: none;
}
.button_ready button {
  width: 140px;
  height: 50px;
  font-size: 14px;
  font-weight: 700;
}
h3 {
  font-size: 46px;
  font-weight: 700;
}
.header {
  max-width: 750px;
}
.footer a {
  text-decoration: none;
  color: #656f7b;
  font-size: 15px;
}
.footer a:hover {
  color: #d62f58;
}
.footer h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}
.footer li {
  margin: 10px 0;
}
.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_input {
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 32px;
}

.form-group button {
  margin-left: 10px;
}
.footer_input h5 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}
.footer {
  background-color: #f7f9fc;
}
.columns:hover a {
  text-decoration: underline;
  color: #d62f58 !important;
}
.columns-2 a {
  width: 36px;
  height: 36px;
  line-height: 36px;
}
.columns-2 li {
  margin-right: 20px;
}

.backToTop {
  position: fixed;
  display: block;
  color: #fff;
  background-color: #f55f8d;
  box-shadow: rgba(0, 0, 0, 2%) 0 0 10px 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;

  bottom: 10px;
  right: 10px;
  text-align: center;
  transition: all 0.5s;
  visibility: visible;
  opacity: 0;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 0.5;
}
